lesson03/src/test/resources/01_file-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:test="http://www.mulesoft.org/schema/mule/test"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<notifications dynamic='true'>
		<notification event="ENDPOINT-MESSAGE" />
	</notifications>
	<flow name="1.copyExpenseReports">
		<file:inbound-endpoint path="data/expenses/1/in"
			pollingFrequency="60000" responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern=".*xls$"
				caseSensitive="false" />
		</file:inbound-endpoint>
		<file:outbound-endpoint responseTimeout="10000"
			doc:name="File" path="./data/expenses/out"
			outputPattern="EXPENSE-REPORT-#[org.mule.util.DateUtils.getTimeStamp('dd-MM-yy_HH-mm-ss.SSS')]-#[message.inboundProperties['originalFilename']]" />
	</flow>
</mule>
