lesson06/src/main/app/8.expression-component.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="8.expression-componentFlow">
        <inbound-endpoint exchange-pattern="request-response" address="vm://process-stamp.in" doc:name="Generic"/>
        <expression-component doc:name="Expression"><![CDATA[message.payload.processedTime = new Date();
Object obj =message.payload ;
message.payload = null;
message.payload  = obj ;
]]></expression-component>
        <logger level="INFO" category="&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65306;&#65307;&#21834;&#21834;&#21834;&#21834;&#21834;&#21834;&#21834;&#21834;" doc:name="Logger"/>
    </flow>
</mule>
