lesson02/src/test/resources/03_1sub-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <sub-flow name="1.legacyAdapterSubFlow" doc:description="&#36890;&#29992;&#36866;&#37197;&#22120;&#23376;&#27969;&#65292;&#23558;XML&#25968;&#25454;&#26681;&#25454;v1_to_v2.xsl&#33050;&#26412;&#22788;&#29702;&#21518;&#65292;&#36716;&#21270;&#20026;Object&#23545;&#35937;">
        <mulexml:xslt-transformer xsl-file="v1_to_v2.xsl" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT"/>
        <mulexml:xml-to-object-transformer doc:name="XML to Object"/>
    </sub-flow>
    <flow name="2.mainFlow1" doc:description="&#29992;&#20110;&#30417;&#21548;HTTP&#35831;&#27714;&#30340;&#20027;&#27969;1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/v1/email" doc:name="HTTP"/>
        <flow-ref name="1.legacyAdapterSubFlow" doc:name="Flow Reference"/>
        <component class="com.lr.mule.lesson02.EmailGateway" doc:name="Java" doc:description="&#25191;&#34892;&#21518;&#32493;&#19994;&#21153;&#36923;&#36753;"/>
    </flow>
    <flow name="3.mainFlow2" doc:description="&#29992;&#20110;&#28040;&#36153;JMS&#28040;&#24687;&#30340;&#20027;&#27969;2">
        <jms:inbound-endpoint queue="v1.email" connector-ref="Active_MQ" doc:name="JMS"/>
        <flow-ref name="1.legacyAdapterSubFlow" doc:name="Flow Reference"/>
        <component class="com.lr.mule.lesson02.EmailGateway" doc:name="Java" doc:description="&#25191;&#34892;&#21518;&#32493;&#19994;&#21153;&#36923;&#36753;"/>
    </flow>
    <flow name="04.test-request-dispatcher">
        <vm:inbound-endpoint exchange-pattern="request-response" path="test-request-dispatcher.in" doc:name="VM"/>
        <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="valid" value="#[message.inboundProperties['valid']]"/>
        </message-properties-transformer>
        <flow-ref name="05.requestDispatcher" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="05.requestDispatcher">
        <choice doc:name="Choice">
            <when expression="#[valid]">
                <vm:outbound-endpoint exchange-pattern="request-response" path="valid.request.handler" doc:name="VM"/>
            </when>
            <otherwise>
                <vm:outbound-endpoint exchange-pattern="request-response" path="invalid.request.handler" doc:name="VM"/>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
